<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header id="navigation" th:fragment="header">
    <main role="main" class="flex-shrink-0">

        <nav class="navbar navbar-expand-md fixed-top">
            <a href="../index.html"><span class="navbar-brand">Food2u</span></a>
            <button class="navbar-toggler collapsed navbar-dark" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link link" href="../sign-in.html">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="/sign-up">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="#">About</a>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">
                    <a class="nav-link link" href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link link" href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </nav>
        </header>
</body>

</html>