<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="https://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8ddd18f331.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" href="../static/images/favicon.ico"/>
    <title>Food2U</title>
</head>

    <body class="d-flex flex-column h-100">
    <header id="navigation">
    <main role="main" class="flex-shrink-0">

        <nav class="navbar navbar-expand-md fixed-top">
            <a href="/"><span class="navbar-brand">Food2u</span></a>
            <button class="navbar-toggler collapsed navbar-dark" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link link" href="sign-in.html">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="sign-up.html">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link" href="#">About</a>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">
                    <a class="nav-link link" href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="nav-link link" href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </header>
        </nav>


<section id="main-content">

    <div class="container">
        <div class="row">
            <div class="col-lg-auto col-md-auto col-sm-auto form-col">
                <h3 class="sign-in-header">Sign up for a new account</h3>
                    <form action="#" th:action="@{/sign-up}" th:object="${newCustomer}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control" id="inputEmail4"
                                       th:field="*{email}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4"
                                       th:field="*{password}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 col-sm-5">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" class="form-control" id="inputFirstName"
                                       th:field="*{firstName}" required>
                            </div>
                            <div class="form-group col-md-2 col-sm-2">
                                <label for="inputMiddleInitial">M.I.</label>
                                <input type="text" class="form-control" id="inputMiddleInitial"
                                       th:field="*{middleInitial}">
                            </div>
                            <div class="form-group col-md-5 col-sm-5">
                                <label for="inputLastName">LastName</label>
                                <input type="text" class="form-control" id="inputLastName"
                                       th:field="*{lastName}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                                   th:field="*{address}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2"
                                   placeholder="Apartment, studio, or floor" th:field="*{address2}">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 col-sm-5">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity"
                                       th:field="*{city}" required>
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control"
                                        th:field="*{state}" required>
                                    <option th:value="1" selected></option>
                                    <option th:value="...">...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-sm-4">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip"
                                       th:field="*{zipCode}" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark submit-button">Sign up</button>
                    </form>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer mt-auto py-3">
    <div class="container">
        <p>&#169; 2020 Timothy Jonker</p>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
</body>

</html>